.content {
	padding: 2rem 0;
	.biz-box {
		background-color: $white;
		padding: 1rem;
		border: 1px solid $light-gray;
		border-radius: $border-radius;
		margin-bottom: 2rem;
		h3 {
			line-height: 1;
		}
	}

	ul.tags {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin-right: rem-calc(10);
			margin-bottom: rem-calc(10);
			a {
				background-color: $orange;
				color: $white;
				padding: rem-calc(5) rem-calc(10);
				font-weight: 500;
				font-size: 16px;
				border-radius: $border-radius;
				&:hover {
					background-color: $oil;
					text-decoration: none;
				}
			}
		}
	}
	.card.bizinfo {
		background-color: $yellow-light;
		h3 {
			font-size: rem-calc(24);
			margin-bottom: 0;
		}
	}

	.callout.deals {
		h3 {
			margin-bottom: 0;
			font-size: rem-calc(24);
		}
	}

	span.label a {
		color: $white;
		font-weight: $font-weight-bold;
	}

	.review-box {
		background-color: $white;
		border: 1px solid $light-gray;
		padding: 1rem;
		margin-bottom: 2rem;
		border-radius: $border-radius;
		.review-meta {
			font-weight: $font-weight-bold;
		}
	}
	

	.recipe-box {
		background-color: $white;
		border: 3px solid $medium-gray;
		border-radius: $border-radius;
		padding: 1rem;
		margin-bottom: 1rem;
		h3 {
			margin-top: rem-calc(10);
			line-height: 1.2;
			font-size: rem-calc(24);
		}
		p {
			font-size: rem-calc(16);
		}
		.macros {
			font-size: rem-calc(16);

		}
	}

	.list-group-item.active {
		background-color: $pink;
		border-color: $pink;
		a {
			display: block;
			color: $yellow;
		}
	}
	#card-element {
		border: 1px solid $smoke;
	}

	ul.ingredient-list li {
		border-bottom: 1px solid $smoke;
		padding: 5px 0;
	}
	td {
		font-size: 16px;
	}
}
.content.gap {
	margin-top: 3rem;
}
.content.ice {
	background-color: $ice;
	h2, h3, h4, p {
		color: $oil;
	}
}

table tr.total {
		background-color: $yellow;
		border-bottom: 3px solid $blue;
		border-top: 1px solid $blue;
	}

table tr.header {
		background-color: $blue;
		color: $white;
		border-bottom: 3px solid $blue;
		border-top: 1px solid $blue;
	}

table tr.smoke {
	background-color: $smoke;
}

.recipe-nav {
	background-color: $oil;
	margin-bottom: 2rem;
	border-radius: $border-radius;
	li {
		border-radius: $border-radius;
		font-weight: $font-weight-bold;
		a {
			color: $white;
		}
	}
}
.yellow {
	color: $yellow;
}
.recipe-description {
	strong {
		background-color: $yellow;
	}
}

.card.yellow .card-body {
		background-color: $yellow-light;
		color: $oil;
	}
p.large {
	@include media-breakpoint-up(lg) {
		font-size: rem-calc(32);
	}
}
.smoke {
	background-color: $smoke;
	.card-header {
		background-color: $blue1;
		color: $white;
		a {
			color: $yellow;
		}
	}
	.recipe-box, .card-body {
		background-color: $white;
	}
	table, .card-body {
		border: 3px solid $blue;
		background-color: $white;
	}
	ul.ingredient-list li {
		border-bottom: 1px solid rgba($space, 0.25);
		padding: 5px 0;
	}
}
.card.smoke {
	.card-body {
		background-color: $smoke;
	}
}
.recent {
	background-color: $light-gray;
}

.post .card {
	background-color: $smoke;
}

div.image {
		text-align: center;
		margin-bottom: 1rem;
		img {
			padding: rem-calc(10);
			border: 1px solid $light-gray;
			border-radius: $border-radius;
		}
		a {
			text-decoration: none;
			border: none;
			color: $white;
		}
	}

@media print {
	.print-button, footer {
		display: none;
	}
	h2, h3, h4 {
		font-size: 16px;
	}
	p, li {
		font-size: 14px;
	}
	td {
		font-size: 12px;
	}
	.hero {
		padding: 1rem;
		h1 {
			font-size: 1.2rem;
		}
	}
	.d-print-none {
		display: hidden;
	}
}